body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
    background-color: rgb(201, 192, 192);
    text-align: center;

}

h1 {
    font-size: 2.5em;
    text-align: center;
    color: black;
    background-image: url(https://i.gifer.com/ZIG2.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

h1::before {
    content: "Tema: ";
    color: rgb(248, 248, 248);
    background-image: url(https://i.gifer.com/BGQd.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-size: 1.4em;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 10px;
}

nav ul li a:hover {
    background-color: azure;
    border-radius: 10px;
}

nav ul li a:active {
    background-color: #ffffffde;
}

nav ul li a:visited {
    background-color: rgb(255, 255, 255);
}

p::first-letter {
    color: rgb(252, 252, 252);
    font-weight: 500;
    font-size: 1.4em;
}

p::selection {
    background-color: #ffffff;
    color: #0a0a0a;
}



img {
    width: 390px;
    height: 350px;
    border-radius: 15px;
    margin-top: -15%;
    margin-bottom: 25px;
}

p {
    background-color: #999393d2;
    color: aliceblue;
    font-size: 1.5em;
    margin-top: 10%;
    margin-left: 35%;
    /* margin-right: 29%; */
    border-radius: 5px;
}

h2 {
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 20%;
}

h3 {
  font-size: 1.5em;
    color: #ffffff;
    margin-left: 40%;
    margin-right: 40%;
}

form {
    background-color: rgb(220, 224, 213);
    padding: 10px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 25px;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px 0;
}

textarea {
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: calc(100% - 25px);
}

button {
    width: 30%;
    padding: 10px;
    background-color: #11ac57b9;
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

div {
    text-align:start;
}
